/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font:16px/1 Gill Sans, serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #333;
    background-color: #f3f3f3;
}

p {
	line-height:1.8;
}

strong {
	font-weight: 500;
	color: #333;
}

a {
	text-decoration: none;
	color: #18bc9c;
}

a:hover {
    text-decoration: none;
    color: black;
}

div.main-container {
}

h1.name {
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 28px;
    cursor: pointer;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 24px;
}

.trigger {
    visibility: visible;
    transition: visibility 0s 2.5s;
    cursor: pointer;

}
.left-trigger {
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}
.right-trigger {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}
.trigger.show-left, .trigger.show-right {
    visibility: hidden;
    transition: visibility 0s 0s;
}

@media(max-width:1160px) {
    h1.name {
        font-size: 54px;
    }

    h2.nav {
        font-size: 26px;
    }
}

/* Head Animation Styling */

#head-images {
    position: relative;
    width: 600px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.img-head {
    position: absolute;
    height: 718px;
    opacity: 1;
    visibility: visible;
}

.head-left-half {
    z-index: 300;
    width: 300px;
    opacity: 1;
    transition: visibility 0s 2.5s, opacity 1.5s 1s;
}
.head-left-half.show-left {
    visibility: hidden;
    transition: visibility 0s;
}
.head-left-half.show-right {
    opacity: 0;
    transition: opacity 1s .5s;
}
.head-right-half {
    left: 300px;
    z-index: 300;
    width: 300px;
    opacity: 1;
    transition: visibility 0s 2.5s, opacity 1.5s 1s;
}
.head-right-half.show-left {
    opacity: 0;
    transition: opacity 1s .5s;
}
.head-right-half.show-right {
    visibility: hidden;
    transition: visibility 0s;
}
.head-left-full {
    left: 0px;
    z-index: 200;
    width: 600px;
    transition: visibility 0s 2.5s, left 2s .5s;
}
.head-left-full.show-left {
    left: -300px;
}
.head-left-full.show-right {
    visibility: hidden;
    transition: visibility 0s;
}
.head-right-full {
    left: 0;
    z-index: 200;
    width: 600px;
    transition: visibility 0s 2.5s, left 2s .5s;
}
.head-right-full.show-left {
    visibility: hidden;
    transition: visibility 0s;
}
.head-right-full.show-right {
    left: 300px;
}


/*!
 * Start Bootstrap - Freelancer Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

p.small {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
   /* font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; */
   /*  font-weight: 700; */
}
